/* Body (Shared) */
body {
  margin: 0;
  padding: 0;
  font-family: 'DehutiBook', cursive, sans-serif;
  font-size: 80 %;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("https://images.unsplash.com/photo-1620834819267-e2e5227c0503?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2t5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  min-height: 100 vh;
}

/* Header (Set 1) */
header {
  background-color: #7A5537;
  color: white;
  width: 100 %;
  text-align: center;
  padding: 5 px 0;
  margin-top: 5 px;
  margin-bottom: 50 px;
}

/* Header Element (Set 1) */
h1 {
  font-family: 'DehutiBook', cursive, sans-serif;
  font-size: 400 %;
  text-transform: uppercase;
}

/* The Chessboard (Shared) */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 800 px;
  height: 800 px; 
  margin: 0 auto;
}

/* Individual Boxes (Shared) */
.box {
  display: flex;
  width: 12.5 %; 
  height: 12.5 %;
  box-sizing: border-box;
  border: 1 px solid #000;
  justify-content: center; /* horizontal centering (Set 1) */
  align-items: center; /* vertical centering (Set 2) */
}

/* Chess Pieces (Shared) */
.box img {
  max-width: 80 %;
  max-height: 80 %;
}

/* Box Colors (Shared) */
.light {
  background-color: #E1D2C6;
}

.dark {
  background-color: #553317;
}

#footer {
width: 100 vw; 
  padding: 10 px;
  margin: 0; 
  border: solid 1 px black;
  background-color: #7A5537;
  text-align: center;
  box-sizing: border-box; 
}
